[submodule "imgui"]
	path = OsuBeatmapDownloader/libraries/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "utility"]
	path = OsuBeatmapDownloader/libraries/utility
	url = https://github.com/KyuubiRan/utility.git
